<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Jhonatan</title>
    <link rel="stylesheet" th:href="@{/css/MiEstilo.css}">
</head>
<body>

<header class="header">
    <nav class="navbar">
		<img style="height: 120px; width: 160px;" th:src="@{/img/logo-jr.png}" alt="logo">
        <ul class="nav-links">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/proyectos}">Proyectos</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-text">
            <h3><strong>ESTOS SON ALGUNOS DE MIS PROYECTOS:</strong></h3>
			<article>
				<p>Puedes acceder a mi repositorio de <a href="https://github.com/JhonatanRS2001" target="_blank">Github</a></p>
			<article>
				<p><strong>TERRA-BROKER: </strong>Proyecto de un mini broker, en el cual podremos comprar activos cripto como BTC, ETH, SOL, ADA, 
				DOGE. A su vez tambien podremos seguir nuestras posiciones y ver graficos en directo de los activos mas importantes.</p>
			<p><strong>¡Proyecto Finalizado!</strong> Acceder a  <a href="https://www.terrabroker.es" target="_blank">Terrabroker</a></p>
				<div class="hero-img" style="display: flex; margin-left: -200px;">
					<img style="height: 150px; width: 250px;" th:src="@{/img/trading.jpg}" alt="trading">
					<img style="height: 150px; width: 250px;" th:src="@{/img/BTC.jpg}" alt="BTC">
					<img style="height: 150px; width: 250px;" th:src="@{/img/fondo-terra.png}" alt="BTC">
				</div>
			</article>	
        </div>
	</section>
</header>

<footer>
    <p>© 2025 Jhonatan Romero - Software Developer </p>
</footer>

</body>
</html>